node_modules/
doc/
test/man*
test/backup.txt
test/livedata_fields.txt
test/sensor_id_new.txt
test/sensor_id.txt
test/itsraining.wav
test/prod/gw
test/cmd-broadcast
test/test-isnumber.sh
test/test-expr.sh
test/test-checksum
test/test-typeset.sh
test/test-typeset-2.sh
test/test-typeset2.sh
test/strace-log
test/test-heredoc.sh
strace-log
test/test-readUInt8.sh
test/strace-log-overview
test/strace-log-bash
test/strace-log-dash
.gitignore
test/strace-log-ksh
test/strace-log-zsh
test/strace-log-overview2
test/test-converthexoct.sh
