#https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
#https://git-scm.com/docs/gitattributes
#*       text=auto
gw text eol=lf
*.md text eol=lf
style/*.sh text eol=lf
lang/*.sh text eol=lf
lib/*.sh text eol=lf
view/*.sh text eol=lf
img/*.png binary
