doc/
man/
prod/
deprecated/
itsraining.wav
.vscode/settings.json
watch.log
debug.log
data.csv
tx*.hex
rx*.hex
backup*.hex
restore.hex
test.csv
backup*.conf
test.html
fifo
webapp/livedata.json
test/test-key.pem
test/test-cert.pem
